@page "/registrarcliente"
@inject HttpClient Http
@inject IJSRuntime Js


<div class="row justify-content-center">
    <div class="col-md-8 text-center">
        <h1 class="alert alert-info">Gestión de Clientes</h1>
    </div>
</div>

@if(cargarDatos == false){
    <div class="row justify-content-center mt-md-2">
        <div class="col-12 col-sm-6 col-md-4">
            <MudCard>
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText>Obtener Datos del Cliente</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudGrid>
                        <MudItem xs="12">
                            <MudTextField @bind-Value="cedula" Label="Cédula" Variant="Variant.Outlined" />
                        </MudItem>
                    </MudGrid>
                </MudCardContent>
                <MudCardActions Class="pb-4 pl-4">
                    <MudItem Class="ml-auto">
                        <MudButton Variant="Variant.Filled" Color="Color.Error" Class="mr-1" @onclick="@(() => buscarDatos(0))">No, Gracias</MudButton>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="@(() => buscarDatos(1))">Buscar Datos</MudButton>
                    </MudItem>
                </MudCardActions>
            </MudCard>
        </div>
    </div>
}

@if(cargarDatos == true){
    <div class="row justify-content-center mt-md-2">
        <div class="col-10">
            <EditForm Model="oCliente">
                <DataAnnotationsValidator/>
                <MudCard Elevation="25">
                    <MudCardContent>
                        <MudGrid>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="FirstName" Label="Nombre" Variant="Variant.Outlined" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="LastName" Label="Apellido" Variant="Variant.Outlined" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="JobTitle" Label="Cédula" Variant="Variant.Outlined" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="Email" Label="Correo" Variant="Variant.Outlined" HelperText="Dont worry, we shall not spam!" InputType="InputType.Email" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="JobTitle" Label="Licencia de Conducir" Variant="Variant.Outlined" />
                            </MudItem>
                            <MudItem xs="12" sm="6" md="4">
                                <MudTextField @bind-Value="JobTitle" Label="Nacionalidad" Variant="Variant.Outlined" />
                            </MudItem>
                        </MudGrid>
                    </MudCardContent>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-outline-primary col-8 bn-lg mb-4">Guardar</button>
                        </div>
                </MudCard>
            </EditForm>
        </div>
    </div>
}


@code{

    
    ClientesDb oCliente = new ClientesDb();
    DatosCedula oCedula = null;

    public bool cargarDatos {get; set;} = false;
    public string cedula {get; set;}
    public string FirstName { get; set; } = "Jonny";
    public string LastName { get; set; } = "Larsson";
    public string JobTitle { get; set; } = "IT Consultant";
    public string Email { get; set; } = "Youcanprobably@findout.com";
    public bool FriendSwitch { get; set; } = true;
    private async Task buscarDatos(int buscar){
        if(buscar == 1){
            if(cedula != null){
                var Url = "https://api.adamix.net/apec/cedula/" + cedula;
                oCedula = await Http.GetFromJsonAsync<DatosCedula>(Url);

                if(oCedula.ok){
                    cargarDatos = true;

                }else{
                    var msj =  await Js.InvokeAsync<object>("msjAlert", "Cédula no Encotrada", "error");
                    cargarDatos = true;
                }
            }else{
                var msj =  await Js.InvokeAsync<object>("msjAlert", "Campo Cédula Vacío", "error");
            }
        }else{
           cargarDatos = true; 
        }
        
    } 
}