
@page "/"
@layout LoginLayout
@inject ILogin login
@inject IJSRuntime Js
@inject NavigationManager NavigationManager



<MudText Typo="Typo.h4" GutterBottom="true">Iniciar Sección</MudText>

<MudTextField  @bind-Value="@user" Label="E-mail" Variant="Variant.Outlined" Class="my-6"></MudTextField>

<MudTextField @bind-Value="@Password" Label="Password" Variant="Variant.Outlined" InputType="@PasswordInput" Adornment="Adornment.End" AdornmentIcon="@PasswordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />


<MudButton Variant="Variant.Filled" Color="Color.Primary" @onclick="BuscarDatos" Size="Size.Large" FullWidth="true" Class="mt-5">Sign In</MudButton>

@*<button Variant="Variant.Filled" Color="Color.Primary" Size="Size.Large" FullWidth="true" Class="mt-5" @onclick="BuscarDatos">Sign In</button>*@
@code {



    string user { get; set; } = "";
    string Password { get; set; } = "";

    LoginDb objlo = new LoginDb();
    //List<LoginDb> objlogin = new List<LoginDb>();

    bool PasswordVisibility;
    InputType PasswordInput = InputType.Password;
    string PasswordInputIcon = Icons.Material.Filled.VisibilityOff;

    void TogglePasswordVisibility()
    {
        @if (PasswordVisibility)
        {
            PasswordVisibility = false;
            PasswordInputIcon = Icons.Material.Filled.VisibilityOff;
            PasswordInput = InputType.Password;
        }
        else
        {
            PasswordVisibility = true;
            PasswordInputIcon = Icons.Material.Filled.Visibility;
            PasswordInput = InputType.Text;
        }

    }


    public void BuscarDatos()
    {
        objlo.Contrasena = Password;
        objlo.Usuario = user;

        var buscar = login.buscar(objlo);
        if (buscar == false)
        {
            var msj = Js.InvokeAsync<object>("msjAlert", "Usuario incorecto", "error");
        }

        else
        {
            
            NavigationManager.NavigateTo("/Index");
        }

    }


}